/* Exercice LegalProd Tailor & Associés - page machine à café - studiolab - Sigisbert */

.principal {
    border-left: 1px solid grey;
    height: 800px;
    width: 10px;
}

/* police rubik sur l'ensemble du site */
* {
    font-family: 'Rubik', sans-serif;
}

/* Début espace haut  */ 
.espace-haut {
    margin-top: 30px;
}

/* Fin espace haut  */ 

/* Début logo Tailor & Associés */

.logo-tailor {
    background-color: black;
    border-radius: 10px;
    margin: 22px 5px 0 30px;
    padding: 8px;
    width: 45px;
    float: left;
}

.gold {
    color: gold;
    font-weight: bold;
    font-size: 18px;
    float: right;
}

.avocats {
    color: #adadad !important;
    font-size: 12px !important;
}

/* Fin logo Tailor & Associés */

/* Début logo Gilmour */

.gilmour {
    margin-top: 70px;
    text-align: center !important;
}    
.text-gilmour {
    margin-left: 60px;
}

/* Fin logo Gilmour */

/* Debut champs recherche header */

.search-sr{
    border-radius: 50% !important;
}

/* Fin champs recherche header */

/* Début pastille rouge menu header */
.cercle-info {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: red;
    position: absolute;
    margin-left: 14px;
    margin-top: -28px;
} 

.cercle-font {
    color: #f3f3f3;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 2px;
}
/* Fin pastille rouge menu header */

/* Début pastille rouge menu gauche (Messagerie) */
.cercle-msg {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: red;
    position: absolute;
    margin-left: 220px;
    margin-top: -24px;
} 

.cercle-font-msg {
    color: #f3f3f3;
    font-size: 11px;
    margin-left: -11px;
    margin-top: -8px;
}
/* Fin pastille rouge menu gauche (messagerie) */

/* Début menu Freddie Mercury */
/* .souligner-active {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
.souligner {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
} */

.freedie {
    text-align: center !important;
}
/* Fin menu Freddie Mercury */

/* Début pastille verte messages non lues */

.cercle-user {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: green;
    /* position: absolute; */
    /* margin-left: 220px;
    margin-top: -20px; */
} 

.cercle-font-user {
    color: white;
    font-size: 11px;
    margin-left: 24px;
    margin-top: -8px;
    text-align: center;
}


/* Fin pastille verte messages non lues */

/* .icon-sigis {
    background-color: grey;
    color: #f3f3f3;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    padding-right: 10px;
} */

.menu_icone{
    border-spacing: 2px;
    background-color: #838C9C; 
    border: 1px solid transparent;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.active {
    background-color: #838C9C;
    border-radius: 20px;
    color: #f3f3f3;
}

.icone-header {
    color: black;
    float: right;
    padding: 8px 8px;
}

.recherche-1 {
    padding: 20px;
}

/* Début tableau Actions du jour */

.cercle-h {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: red;
    /* padding-top: -12px; */
}

.cercle-m {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: orange;
}

.cercle-f {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: green;
}

.cercle-online {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: green;
    position: absolute;
    margin-left: 40px;
    margin-top: -14px;
} 

.text-h {
    padding-top: -60px !important;
    padding-right: 40px !important;
}

.header-tab {
    font-weight: bold;
    font-size: 20px;
}

.action{
    float: right;
    margin: 2px 6px 2px 6px;
}

/* Fin tableau Actions du jour */

/* Salle de conversation */
.salle {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.blue-bg {
    background-color: blue;
    color: #f3f3f3;
    border-radius: 20px 20px 0 20px;
    font-size: 12px;
    margin: 10px;
    padding: 15px;
}

.grey-bg {
    background-color: lightgrey;
    color: black;
    border-radius: 20px 20px 20px 0px;
    font-size: 12px;
    margin: 10px;
    padding:15px;
    
}


/* Début scroll users salle de conversation */
.my-custom-scrollbar {
    position: relative;
    height: 1000px;
    overflow: auto;
}

.user-center {
float: center;
}

.table-wrapper-scroll-y {
    display: block;
    overflow-x: hidden;   /* cache barre scroll horizontal */
}

/* Fin scroll users salle de conversation */


/* Début salle de conversation */

.font-user {
    font-size: 12px;
}

.heure-post-1 {
    float: left;
}

.heure-post-2 {
    float: right;
}

.setting {
    float: right;
}

.users {
    margin: 4px 10px 4px 10px;
}

.user-time {
    margin-left: 12px;
    margin-top: 8px;
}

.user-on {
    background-color: #F6F7FC;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
}

.roger-bg {
    background-color: #F6F7FC;
}

.user-2 {
    font-size: 13px;
    text-align: left;
}

/* Fin salle de conversation */

/* Début liste users */
.size-user {
    font-size: 13px;
}

.size-user-2 {
    font-size: 12px;
    color: lightgray;
}

.cercle-room {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: black;
}

.trio-img {
    position: relative;
}

.une-img {
    position: absolute;
}  

.deux-img {
    position: absolute;
    top:18px; left: 22px;
}

.trois-img {
    position: absolute;
    top: 12px; left: 0px;
}

/* Fin liste users */

/* les écrans de moin de 575.98px utilisent cette regle css */
@media (max-width: 575.98px) {
    .tabsr {
        /* margin-left: 0px; */
        width: 40%;
    }
}

.legend {
    font-size: 12px;
    text-align: center;
    margin-left: -1700px !important; /* a refaire */
}

.col2 {
    background-color: aqua;
}

.col10 {
    background-color: coral;
}

/* footer */

.footer-left{
    margin-left: 20px;
    text-align: left !important;
    margin-bottom: 35px;
}

.footer-right{
    /* float: right; */
    margin-right: 20px;
    text-align: right !important;
}

/* fin footer */